@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

main {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

section {
	transform-style: preserve-3d;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
}

section h1 {
	text-align: center;
	font-size: 4rem;
	font-family: poppins;
}

.no-parallax {
	background-color: #1e0d74;
	z-index: 999;
}

.parallax h1 {
	width: 40%;
	font-size: 2rem;
}

.parallax::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
}

.bg::after {
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/fondoinicio.jpg);
	background-size: cover;
}

@media screen and (min-width: 768px) {
	section h1 {
		font-size: 8rem;
	}

	.parallax h1 {
		font-size: 4rem;
	}
}

.fashion {
	width: 60%;
	height: 60%;
	float: center;
	border-radius: 28px;

}


/*row separacion de columnas */
.row {
	display: flex;
	justify-content: space-between;
	padding-top: 1%;

}

.col {
	width: 50%;
	padding: 5px;
	box-sizing: border-box;
	padding-left: 1%;
	padding-right: 1%;
}

/*log*/
/* From Uiverse.io by alexruix */
.main {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #240046;
	max-height: 420px;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
	display: none;
}

/*Login*/
.login {
	position: relative;
	width: 100%;
	height: 100%;
}

.login label {
	margin: 25% 0 5%;
}

label {
	color: #fff;
	font-size: 2rem;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.input {
	width: 100%;
	height: 40px;
	background: #e0dede;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 4px;
}

/*Register*/
.register {
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(5%);
	transition: .8s ease-in-out;
}

.register label {
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked~.register {
	transform: translateY(-60%);
}

#chk:checked~.register label {
	transform: scale(1);
	margin: 10% 0 5%;
}

#chk:checked~.login label {
	transform: scale(.6);
	margin: 5% 0 5%;
}

/*Button*/
.form button {
	width: 85%;
	height: 40px;
	margin: 12px auto 10%;
	color: #fff;
	background: #573b8a;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .2s ease-in;
}

.form button:hover {
	background-color: #6d44b8;
}



/*boton lol*/