/* Login.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

/* Aplicar la tipografía a toda la aplicación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url(../../assets/images/Blancos.jpg);
    color: #333;
}

.login-container {
    max-width: 300px;
    margin: 120px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    font-size: 1rem;
}

.input-group input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.submit-button {
    background-color: #919191;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #afafaf;
}